{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- Brand/Logo -->
    <a class="navbar-brand" href="{% url 'home' %}">
      AI Study Assistant
    </a>
    
    <!-- Hamburger menu for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Navigation Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-bold" href="{% url 'login' %}">Login</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'study_sessions' %}">Study Sessions</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'timer' %}">Timer</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'resources' %}">Resources</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="{% url 'flashcards' %}">Flashcards</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'review_page' %}">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'study_groups' %}">Study Groups</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold" href="{% url 'logout' %}">Logout</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>