{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">Learning Resources</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <p>Curated learning materials and resources will be available here.</p>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Upcoming Resources</h5>
                    <ul>
                        <li>Online tutorials</li>
                        <li>Study guides</li>
                        <li>Recommended books and articles</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}