{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">Study Sessions</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <p>This is where you'll manage and track your study sessions.</p>
            <p>Features coming soon:</p>
            <ul>
                <li>Create new study sessions</li>
                <li>Track study time</li>
                <li>Set goals and milestones</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}